<ion-header>
  <ion-toolbar color="jrlstrblue">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Libreria</ion-title>
    <ion-title size="small">JRL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1>Registrarse</h1>
    </div>
    <img src="assets/img/register.svg" alt="register" style="width: 70%;">
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="signUp(email, password)" expand="block" color="jrlstrblue">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
  </div>
</ion-content>