<ion-header [translucent]="true">
  <ion-toolbar color="jrlstrblue">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title>Libreria</ion-title>
      <ion-title size="small">JRL</ion-title>
      <ion-buttons slot="end">
        <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"> 
        <ion-icon slot="start" name="cart" color="light"></ion-icon></a>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content container>
     
    <ion-img src="https://cdn.pixabay.com/photo/2017/05/31/21/13/colored-pencils-2361653__340.jpg" alt="team"></ion-img>
    <ion-card>
      <ion-card-header>
          <ion-card-title>¿Quienes somos?</ion-card-title>
          </ion-card-header>
        <ion-card-content>
          <div class="ion-text-justify">
              Somos una empresa de prestigio internacional con 10 años en el mercado dedicada a la provisión de instrumentos de escritura, artículos escolares, 
              insumos para oficina y regalos empresariales, con diseños de vanguardia combinando estilo y artesanía tradicional con la más avanzada tecnología.

              Con un equipo capacitado y calificado, brindamos un valor agregado a la atención de nuestros clientes, identificando sus necesidades para así poder
              asesorarlos con nuestros productos y servicios mediante una rápida respuesta.
              
              Contamos con la mejor compatibilidad precio-calidad en el mercado.
      </div>
      </ion-card-content>
    </ion-card> 
<ion-grid>
  <ion-row>
      <ion-col size="12">
          <ion-card>
              <ion-card-header>
                <ion-card-title>Visión</ion-card-title>
                  <ion-img src="assets/img/vision.svg" alt="vision"></ion-img>      
              </ion-card-header>
              <ion-card-content>
                  <div class="ion-text-justify">
                      Posicionarnos cómo líderes en el mercado de artículos escolares, de oficina y empresariales, 
                      brindando lo mejor desde todo punto de vista. 
                      Continuar innovando y actualizando nuestra cartera de productos y clientes. 
                      Nuestra experiencia en el mercado nos impulsa a creer que si podemos soñar con algo lo podemos realizar.
              </div>
              </ion-card-content>
            </ion-card>
      </ion-col>
      <ion-col size="12">
          <ion-card>
              <ion-card-header>
                <ion-card-title>Misión</ion-card-title>
                  <ion-img src="assets/img/mision.svg" alt="mision"></ion-img>      
              </ion-card-header>
              <ion-card-content>
                  <div class="ion-text-justify">
                      Ofrecer soluciones prácticas y ágiles para nuestros clientes, otorgando un servicio diferencial y personalizado que se basa en la confianza y el cumplimiento; 
                      a través de nuestra variada línea, brindando una excelente calidad a un precio justo que asegura el crecimiento de la empresa.
              </div>
              </ion-card-content>
            </ion-card>
      </ion-col>
  </ion-row>
</ion-grid>  
<ion-card>
  <ion-item href="#" class="ion-activated">
    <ion-icon name="cart" slot="start"></ion-icon>
    <ion-label>¿Cómo comprar?</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-icon name="time" slot="start"></ion-icon>
    <ion-label>Métodos de envío</ion-label>
  </ion-item>

  <ion-item class="ion-activated">
    <ion-icon name="basket" slot="start"></ion-icon>
    <ion-label>Formas de Pago</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="map" slot="start"></ion-icon>
    <ion-label>Nuestra Ubicacion</ion-label>
  </ion-item>
</ion-card>
<ion-grid>
  <ion-card>
      <ion-row>
          <ion-col>
              <ion-icon name="navigate-outline"></ion-icon>
              <h6>Enviamos a toda Bolivia</h6>
          </ion-col>
          <ion-col>
              <ion-icon name="pricetags-outline"></ion-icon>
              <h6>Marcas exclusivas</h6>
          </ion-col>
          <ion-col>
              <ion-icon name="ribbon-outline"></ion-icon>
              <h6>Atendemos sus dudas</h6>
          </ion-col>
          <ion-col>
              <ion-icon name="shield-checkmark-outline"></ion-icon>
              <h6>Compra con confianza</h6>
          </ion-col>
      </ion-row>
  </ion-card>
</ion-grid>  
</ion-content>
