ion-icon{
    font-size:30px;
    color: #0C3560;
    text-align:center;
}
ion-grid{
    text-align: center;
}
ion-card{
    box-shadow: none !important;
    border-style: none !important;
}
ion-title{
    text-align: center;
  }

