<ion-header [translucent]="true">
  <ion-toolbar color="jrlstrblue">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Libreria</ion-title>
    <ion-title size="small">JRL</ion-title>
    <ion-buttons slot="end">
      <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"> 
      <ion-icon slot="start" name="cart" color="light"></ion-icon></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>CONTACTO</h1>
</div>
<div class="container">
    <img src="assets/img/JRLazul.png" width="60%"/>
</div>
<div class="container-padd">
           
        <ion-icon name="logo-facebook" size="large"></ion-icon>
        <ion-icon name="logo-whatsapp" size="large"></ion-icon>
        <ion-icon name="logo-instagram" size="large"></ion-icon>
        <ion-icon name="logo-snapchat" size="large"></ion-icon>
 
</div>
<div class="container-padd">
    <h5>Telefono</h5>
    
</div>
<div class="container-desc">
    <ion-label class="ion-text-wrap">
        4442579 - 4657928 <br>
        Cel. 61322975 - 64359971
    </ion-label>
</div>
<div class="container-padd">
    <h5>Direccion</h5>
    
</div>
<div class="container-desc">
    <ion-label class="ion-text-wrap">
        Av. Blanco Galindo Km 4 1/2 acera norte N°134
    </ion-label>
</div>
<div class="container-desc">
    <ion-label class="final-text">
        Cochabamba - Bolivia
    </ion-label>
</div>
<div class="container-padd" >
    <ion-button color="jrlblue" shape="round">VER MAPA</ion-button>
</div>
</ion-content>
