<ion-card>
  <ion-grid >
    <ion-row>
      <ion-col size="4">
        <ion-img [src]="productoPedido.producto.foto"></ion-img>
      </ion-col>
      <ion-col size="8">
        <ion-item>
          <ion-label>{{productoPedido.producto.nombre}}</ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="addCarrito()">
              <ion-icon  slot="icon-only" name="add"></ion-icon>
            </ion-button>
            <ion-button (click)="removeCarrito()">
              <ion-icon slot="icon-only" name="remove"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <p>Precio: {{productoPedido.producto.precio}}</p>
        <p>Cantidad: {{productoPedido.cantidad}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>