<ion-header [translucent]="true">
  <ion-toolbar color="jrlstrblue">
    <ion-buttons slot="start">
      <a routerLink="/homepage" routerDirection="back"> 
        <ion-icon slot="start" name="arrow-back-outline" color="light"></ion-icon></a>
    </ion-buttons>
    <ion-title>Libreria</ion-title>
    <ion-title size="small">JRL</ion-title>
    <ion-buttons slot="end">
      <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"> 
      <ion-icon slot="start" name="cart" color="light"></ion-icon></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
 
  <div class="search">
    <ion-item lines="none">
      <ion-input placeholder="Buscar"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

  <h1 class="title">Material Escolar</h1>
  <ion-row class="products-items">
    <ion-col size="6" class="ion-text-left padding-right0" *ngFor="let producto of productos">
      <img [src]="producto.foto" alt="logo">
      <h6>{{producto.descripcion}}</h6>
      <p>Bs. {{producto.precio}}.00</p>
      <ion-button size="small" expand="block" color="jrlstrblue" class="btncomprar">
        <ion-icon name='cart'></ion-icon>
        Comprar
      </ion-button>
      </ion-col>
    
  </ion-row>  
</ion-content>
