<ion-header [translucent]="true">
  <ion-toolbar color="jrlstrblue">
    <ion-buttons slot="start">
      <a routerLink="/homepage" routerDirection="back"> 
        <ion-icon slot="start" name="arrow-back-outline" color="light"></ion-icon></a>
    </ion-buttons>
    <ion-title>Libreria</ion-title>
    <ion-title size="small">JRL</ion-title>
    <ion-buttons slot="end">
      <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"> 
      <ion-icon slot="start" name="cart" color="light"></ion-icon></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
 
  <div class="search">
    <ion-item lines="none">
      <ion-input placeholder="Buscar"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

  <h1 class="title">Material Escolar</h1>
  <ion-row class="products-items">
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="assets/img/regla.jpg" alt="regla" routerLink="/description-product">
      <h6>Regla Plegable Maped Open Up (15 a 30 cm) Rosa</h6>
      <p>Bs. 12.00</p>
      <ion-button size="small" expand="block" color="jrlstrblue" class="btncomprar">
        <ion-icon name='cart'></ion-icon>
        Comprar
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="assets/img/lapicero.jpg" alt="lapicero">
      <h6>Set de 5 Bolígrafos Trilux Pastel Faber-Castell</h6>
      <p>Bs. 8.00</p>
      <ion-button size="small" expand="block" color="jrlstrblue" class="btncomprar">
        <ion-icon name='cart'></ion-icon>
        Comprar
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="assets/img/resaltador.jpg" alt="resaltador">
      <h6>Resaltador STABILO BOSS Pastel – Azul Nublado</h6>
      <p>Bs. 5.00</p>
      <ion-button size="small" expand="block" color="jrlstrblue" class="btncomprar">
        <ion-icon name='cart'></ion-icon>
        Comprar
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="assets/img/Lapices.jpg" alt="lapices">
      <h6>Set 12 Lapices STABILO Swano Pastel</h6>
      <p>Bs. 30.00</p>
      <ion-button size="small" expand="block" color="jrlstrblue" class="btncomprar">
        <ion-icon name='cart'></ion-icon>
        Comprar
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="assets/img/Colores.jpg" alt="colores">
      <h6>10 Marcadores Doble Punta Faber-Castell</h6>
      <p>Bs. 32.00</p>
      <ion-button size="small" expand="block" color="jrlstrblue" class="btncomprar">
        <ion-icon name='cart'></ion-icon>
        Comprar
      </ion-button>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="assets/img/marcadores.jpg" alt="marcadores">
      <h6>Set 20 Marcadores Crayola Super Tips</h6>
      <p>Bs. 48.00</p>
      <ion-button size="small" expand="block" color="jrlstrblue" class="btncomprar">
        <ion-icon name='cart'></ion-icon>
        Comprar
      </ion-button>
    </ion-col>
  </ion-row>  
</ion-content>
