<ion-header [translucent]="true">
  <ion-toolbar color="jrlstrblue">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Libreria</ion-title>
    <ion-title size="small">JRL</ion-title>
    <ion-buttons slot="end">
      <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"> 
      <ion-icon slot="start" name="cart" color="light"></ion-icon></a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h2>Hello, User</h2>
    </ion-row>
    
    <ion-row>
      <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>